.mf-header {
    background-color: $navy;
    padding: 52px 0;

    &_logo {
        max-width: 119.5px;
        transition: max-width 1.2s ease;

        @include breakpoint(tablet) {
            max-width: 1080px;
            transition: max-width 1.2s ease;
        }
    }

    &_exp,
    &_strp {
        max-width: 600px;
    }
}