.col {
  &-wht {
    color: $white;
  }
  &-grn {
    color: $green;
  }
  &-pnk {
    color: $pink;
  }
  &-red {
    color: $red;
  }
  &-blk {
    color: $black;
  }
}

.bg {
  &-wht {
    background-color: $white;
  }
  &-gry {
    background-color: $grey;
  }
  &-yllw {
    background-color: $mustard;
  }
  &-nvy {
    background-color: $navy;
  }
  &-grn {
    background-color: $green;
  }
  &-pnk {
    background-color: $pink;
  }
  &-red {
    background-color: $red;
  }
  &-blk {
    background-color: $black;
  }
}