.mb-9 {
  margin-bottom: 0.5625rem;
}
.mb-12 {
  margin-bottom: 0.75rem;
}
.mb-24 {
  margin-bottom: 1.5rem;
}
.mb-36 {
  margin-bottom: 2.25rem;
}
.mb-52 {
  margin-bottom: 3.25rem;
}

.mb-104 {
  margin-bottom: 6.5rem;
}

.mw-30 {
  max-width: 30rem;
}

.pt-52 {
  padding-top: 3.25rem;
}