$namespace: 'mf';

$white: #ffffff;
$black: #2d333a;
$navy: #222831;
$grey: #f2f4f7;
$mustard: #edb625;
$green: #49c4a1;
$pink: #e6186d;
$red: #ac1152;
$filter: rgba(227, 227, 227, 0.2);


// Dev ENV
$dev: true;

// Breakpoints
$small: 504;
$medium: 756;
$large: 1008;
$x-large: 1200;

@mixin Rubik {
  font-family: "Rubik", "Helvetica", "Arial", sans-serif;
}

@mixin Karla {
  font-family: "Karla", "Helvetica", "Arial", sans-serif;
}

body {
  font-size: 10px;
  color: $black;
}